<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->

<head>
<meta charset="utf-8">
<title>SMM撮合系统</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1" name="viewport">
<meta content="" name="description">
<meta content="" name="author">
<link href="${request.getContextPath()}/Public/assets/admin/css/css.css"
	rel="stylesheet" type="text/css">
<link
	href="${request.getContextPath()}/Public/assets/global/plugins/font-awesome/css/font-awesome.min.css"
	rel="stylesheet" type="text/css">
<link
	href="${request.getContextPath()}/Public/assets/global/plugins/simple-line-icons/simple-line-icons.min.css"
	rel="stylesheet" type="text/css">
<link
	href="${request.getContextPath()}/Public/assets/global/plugins/bootstrap/css/bootstrap.min.css"
	rel="stylesheet" type="text/css">
<link
	href="${request.getContextPath()}/Public/assets/global/plugins/uniform/css/uniform.default.css"
	rel="stylesheet" type="text/css">

<link
	href="${request.getContextPath()}/Public/assets/global/css/components-rounded.css"
	id="style_components" rel="stylesheet" type="text/css">
<link
	href="${request.getContextPath()}/Public/assets/global/css/plugins.css"
	rel="stylesheet" type="text/css">
<link
	href="${request.getContextPath()}/Public/assets/admin/css/layout.css"
	rel="stylesheet" type="text/css">
<link
	href="${request.getContextPath()}/Public/assets/admin/css/themes/default.css"
	rel="stylesheet" type="text/css" id="style_color">
<link
	href="${request.getContextPath()}/Public/assets/admin/css/custom.css"
	rel="stylesheet" type="text/css">
<link
	href="${request.getContextPath()}/Public/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css"
	rel="stylesheet" type="text/css">

<link
	href="${request.getContextPath()}/Public/assets/admin/css/common.css"
	rel="stylesheet" type="text/css">

<link rel="shortcut icon"
	href="${request.getContextPath()}/Public/favicon.ico">
<link href="${request.getContextPath()}/Public/css/client.css"
	rel="stylesheet" type="text/css">
<link href="${request.getContextPath()}/Public/assets/global/css/kkpager.css" rel="stylesheet" type="text/css">
<link href="${request.getContextPath()}/Public/css/customerDetail.css" rel="stylesheet" type="text/css">

<style type="text/css">
body {
	margin: 0;
	padding: 0;
}
/*div_Import */
#div_Import {
	position: fixed;
	z-index: 999;
	width: 600px;
	height: 400px;
	border: 1px solid #ccc;
	background: #efefef;
	display: none;
	overflow: auto;
}

#div_Import .tit {
	background: #ddd;
	display: block;
	height: 15px;
}

#div_Import .tit i {
	float: right;
	line-height: 15px;
	padding: 0 8px;
	cursor: pointer;
}
td>select,[type=text]{
	
	width: 85%;
}
.tb tr td{
	padding:.2em .5em;
}
</style>
</head>

<body class="page-header-top-fixed">
	<!--头部信息结束 -->
	<div class="page-header">
		<!--头部开始-->
		<#include "/include/top.html" />
		<!-- 头部信息结束 -->


		<!-- 头部菜单开始 -->
		<#include "/include/top_menu.html" />
		<!-- 头部菜单结束 -->
	</div>
	<!-- END HEADER -->

	<!-- BEGIN PAGE CONTAINER -->
	<div class="page-container">
		<!-- 内容开始 -->
		<div class="page-content">
			<div class="container-fluid">
			<ul class="page-breadcrumb breadcrumb">
				<li>
					<a href="#">首页</a><i class="fa fa-circle"></i>
				</li>
				<li class="active">
					 客户管理<i class="fa fa-circle"></i>
				</li>
				<li class="active">
					 线索池
				</li>
				<li class="active">
					转换线索
				</li>
			</ul>
				<div class="row margin-top-10">
					<div class="portlet light">
						<p style="font-weight:bold;" align="center">&nbsp;&nbsp;主要信息&nbsp;&nbsp;:&nbsp;&nbsp;</p>
						<form id="form_main">
						<input type="hidden" id="trailId" name="trailId" value="${(comObj.id)!''}">
						<table class="tb" cellspacing="1" border="1" id="tb_order_detail">
							<tbody>
								<tr>
									<td class="tdTitle" width="20%"><font color="red">*</font>负责人</td>
									<td  id="pic" width="35%">
										<select name="pic" class="form-control">
											<#if pics??>
											<#list pics as el> 
												<option ${(comObj.userId==el.id)?string('selected="selected"','')} value="${(el.id)!}">${(el.name)!}</option>
											</#list>
											</#if>
										</select>
									</td>
									<td class="tdTitle"><font color="red">*</font>来源</td>
									<td  id="categorySource">
										<select name="categorySource" class="form-control">
											<#if categorySource??>
											<#list categorySource as el> 
												<option value="${(el.id)!}"  
												<#if comObj?exists && comObj.categorySource?exists && comObj.categorySource==el.id> selected</#if>
												 >${(el.name)!}</option>
											</#list> 
											</#if>
										</select>
									</td>
								</tr>
								<tr>
									<td class="tdTitle"><font color="red">*</font>公司名</td>
									<td  id="companyName">
										<input type="text" name="companyName" style="width: 85%; display:inline-block;"  value="${(comObj.companyName)!''} "class="form-control" placeholder="请输入公司名">
										<button type="button" onclick="search(this)" class="btn green">搜索</button>
									</td>
									<td class="tdTitle">行业（主要销售）</td>
									<td  id="salesProducts">
										<input type="text" name="salesProducts" id="salesInput"  value="${(comObj.salesProducts)!''}" class="form-control" style="min-width:240px;max-width:400px;height: 34px;">
									</td>
								</tr>
								<tr>
									<td class="tdTitle"><font color="red">*</font>客户级别</td>
									<td  id="level">
										<select name="level" class="form-control">
											<#if level??>
											<#list level as el> 
												<option value="${(el.id)!}">${(el.name)!}</option>
											</#list> 
											</#if>
										</select>
									</td>
									<td class="tdTitle"><font color="red">*</font>省份</td>
									<td  id="area">
										<select onchange="setChildAreas(this)"  id="areaId"  style="width: 45%; display:inline-block;" class="form-control">
										
									<option value="" selected="selected">请选择</option>
										<#if parentAreas??>
										<#list parentAreas as el> 
											<option value="${(el.id)!}" 
											<#if comObj?exists && comObj.areaId?exists &&  comObj.areaId?exists &&  comObj.areaId==el.id> selected</#if>
											  >${(el.name)!}</option>
										</#list>
										</#if>
										</select>
										<select  id="cityId" style="width: 45%; display:inline-block;" class="form-control">
										<option value="0"> -- 请选择--</option>
										<#if childArea??>
										
										<#list childArea as  c>
										<option value="${c.id}" ${(comObj.city=c.id)?string('selected="selected"','')}>${ c.name}</option>
										
										</#list>
										</#if>										
										</select>
									</td>
								</tr>
								<tr>
									<td class="tdTitle"><font color="red">*</font>企业类型</td>
									<td  id="entTypes">
										<#if entTypes??>
										<#list entTypes as el> 
											<label><input  name="entTypes" type="checkbox" class="form-control"  	value="${(el.id)!}"							
											<#if (comObj?exists && comObj.entTypes?exists && comObj.entTypes?index_of(","+el.id+",")!=-1)|| (comObj?exists && comObj.entTypesName?exists && el.id==comObj.entTypesName) > checked="checked"</#if>		
											>&nbsp;${(el.name)!}&nbsp;</label>
										</#list>
										</#if>
										
									</td>
									<td class="tdTitle"><font color="red">*</font>地址</td>
									<td  id="address">
										<input type="text" id="addresss" name="address" value="${(comObj.address)!''}" class="form-control">
									</td>
								</tr>
								<tr>
									<td class="tdTitle"><font color="red">*</font>年销售额</td>
									<td  id="salesVolume">
										<select name="salesVolume" class="form-control">
											<#if salesvolume??>
											<#list salesvolume as el> 
												<option value="${(el.id)!}"  ${(comObj.salesVolume=el.id)?string('selected="selected"','')}  >${(el.name)!}</option>
											</#list> 
											</#if>
											
										</select>
									</td>
									<td class="tdTitle"><font color="red">*</font>员人人数</td>
									<td  id="categoryEmployee">
										${comObj.categoryemployee}
										<select name="categoryEmployee" class="form-control">
											<#if categoryemployee??>
											<#list categoryemployee as el> 
												<option value="${(el.id)!}" ${(comObj.categoryEmployee=el.id)?string('selected="selected"','')} >${(el.name)!}</option>
											</#list>
											</#if>
										</select>
									</td>
								</tr>
								<tr>
									<td class="tdTitle"><font color="red">*</font>采购商品</td>
									<td  id="buyProducts">
										<input type="text" name="buyProducts" id="buyInput"  class="form-control" style="min-width:240px;max-width:400px;height: 34px;">
									</td>
									<td class="tdTitle"><font color="red">*</font>采购周期</td>
									<td  id="categoryFreq">
										<select name="categoryFreq" class="form-control">
											<#if categoryfreq??>
											<#list categoryfreq as el> 
												<option value="${(el.id)!}">${(el.name)!}</option>
											</#list>
											</#if>
										</select>
									</td>
								</tr>
								<tr>
									<td class="tdTitle"><font color="red">*</font>采购量</td>
									<td  id="buyVolume">
										<input type="text" name="buyVolume" class="form-control">
									</td>
									
									<td class="tdTitle" id="buyBrand" ><#if Session["userInfo"]["itemId"] != "26278"><font color="red">*</font><#else>&nbsp;&nbsp;</#if>采购品牌</td>
									<td  >
										<input type="text" name="buyBrand" id="brandInput" class="form-control" style="min-width:240px;max-width:400px;height: 34px;">
									</td>
								</tr>
								<tr>
									<td class="tdTitle"><font color="red">*</font>上下家</td>
									<td  id="categorybusiness">
										<label><input type="checkbox"  onclick="setCategorybusiness('2')">供应商&nbsp;</label>
										<label><input type="checkbox"  onclick="setCategorybusiness('1')">采购商</label>
									</td>
									<td class="tdTitle"></td>
									<td ></td>
								</tr>
							</tbody>
						</table>
						</form>
						<br>
						<p style="font-weight:bold;" align="center">&nbsp;&nbsp;联系人信息&nbsp;&nbsp;:&nbsp;&nbsp;</p>
						<div id="block_contacter">
						<form>
						<table class="tb" cellspacing="1" border="1">
							<tbody>
								<tr>
									<td class="tdTitle" ><font color="red">*</font>姓名</td>
									<td >
										<input type="text" id="name" name="name" value="${(comObj.contacterName)!''}" class="form-control">
									</td>
									<td class="tdTitle">性别</td>
									<td id="sexChooseTd">
										<label style="margin-left: 20px;">
											<input type="radio" value="0" name="sex" checked>男
										</label>
										<label style="margin-left: 20px;">
										<input type="radio" value="1" name="sex"<#if comObj?exists && comObj.sex?exists && comObj.sex==1>checked="checked"</#if> >女
										</label>
									</td>
								</tr>
								<tr>
									<td class="tdTitle"><font color="red">*</font>职位</td>
									<td >
										<input type="text"  id="position" name="position"  value="${(comObj.position)!''}"  class="form-control"  maxlength="20" >
									</td>
									<td class="tdTitle"><font color="red">*</font>手机</td>
									<td >
										<input type="text" id="mobilePhone" name="mobilePhone" value="${(comObj.mobilePhone)!''}"  class="form-control"  onkeyup="this.value=this.value.replace(/\D/g,'')"  onafterpaste="this.value=this.value.replace(/\D/g,'')" >
									</td>
								</tr>
								<tr>
									<td class="tdTitle">QQ</td>
									<td >
										<input type="text" name="qq" class="form-control" value="${(comObj.qq)!''}"   onkeyup="this.value=this.value.replace(/\D/g,'')"  onafterpaste="this.value=this.value.replace(/\D/g,'')" >
									</td>
									<td class="tdTitle">固话</td>
									<td >
										<input type="text" name="telephone" class="form-control">
									</td>
								</tr>
								<tr>
									<td class="tdTitle">邮箱</td>
									<td >
										<input type="text" id="email1" name="email"  value="${(comObj.email)!''}" onblur="checkEmail()" class="form-control">
									</td>
									<td class="tdTitle">是否采购关键人</td>
									<td id="keyPersonChooseId">
										<label style="margin-left: 20px;">
										<input type="radio" value="1" name="keyPerson" checked>是
										</label>
										<label style="margin-left: 20px;">
										<input type="radio" value="0" name="keyPerson">否
										</label>
									</td>
								</tr>								
							</tbody>
						</table>
						
						</form>
						
						
						<br>
						<form>
						<table class="tb" cellspacing="1" border="1">
							<tbody>
								<tr>
									<td class="tdTitle">姓名</td>
									<td >
										<input type="text" id="name1" name="name" value="${(comObj.contacterName2)!''}" class="form-control">
									</td>
									<td class="tdTitle">性别</td>
									<td id="sexChooseTd">
										<label style="margin-left: 20px;">
											<input type="radio" value="0" name="sex" checked>男
										</label>
										<label style="margin-left: 20px;">
										<input type="radio" value="1" name="sex"  <#if comObj?exists && comObj.sex2?exists && comObj.sex2==1>checked="checked"</#if> >女
										</label>
									</td>
								</tr>
								<tr>
									<td class="tdTitle">职位</td>
									<td >
										<input type="text" name="position"  value="${(comObj.position2)!''}"  class="form-control"  maxlength="20" >
									</td>
									<td class="tdTitle">手机</td>
									<td >
										<input type="text" id="mobilePhone" name="mobilePhone" value="${(comObj.mobilePhone2)!''}"  class="form-control"  onkeyup="this.value=this.value.replace(/\D/g,'')"  onafterpaste="this.value=this.value.replace(/\D/g,'')" >
									</td>
								</tr>
								<tr>
									<td class="tdTitle">QQ</td>
									<td >
										<input type="text" name="qq" class="form-control" value="${(comObj.qq2)!''}"   onkeyup="this.value=this.value.replace(/\D/g,'')"  onafterpaste="this.value=this.value.replace(/\D/g,'')" >
									</td>
									<td class="tdTitle">固话</td>
									<td >
										<input type="text" name="telephone" class="form-control">
									</td>
								</tr>
								<tr>
									<td class="tdTitle">邮箱</td>
									<td >
										<input type="text"  id="email1" name="email"  value="${(comObj.email2)!''}"  class="form-control">
									</td>
									<td class="tdTitle">是否采购关键人</td>
									<td id="keyPersonChooseId">
										<label style="margin-left: 20px;">
										<input type="radio" value="1" name="keyPerson" checked>是
										</label>
										<label style="margin-left: 20px;">
										<input type="radio" value="0" name="keyPerson">否
										</label>
									</td>
								</tr>								
							</tbody>
						</table>
						</form>
						
						<div style="margin-top: 5px" align="left">
							<a style="font-weight:bold;" href="javascript:;" onclick="newContacter(this)">+添加联系人</a>
						</div>
						</div>
						
						
						<br>
						<p style="font-weight:bold;" align="center">&nbsp;&nbsp;附加信息&nbsp;&nbsp;:&nbsp;&nbsp;</p>
						<form id="form_aditional">
						<table class="tb" cellspacing="1" border="1">
							<tbody>
								<tr>
									<td class="tdTitle">法人</td>
									<td  id="corporate">
										<input type="text" name="corporate"  value="${(comObj.corporate)!''}"  class="form-control">
									</td>
									<td class="tdTitle">注册时间</td>
									<td  >
										<input type="text" id="registerDate" name="registerDate" class="number" title="请输入年份"  value="${(comObj.strRegisterDate)!''}"  />
									</td>
								</tr>
								<tr>
									<td class="tdTitle">公司电话</td>
									<td  id="companyPhone">
										<input type="text" name="companyPhone" value="${(comObj.companyPhone)!''}"  class="form-control">
									</td>
									<td class="tdTitle">企业性质</td>
									<td  id="companyProperty">
										<select name="companyProperty" class="form-control">
											<option value="" selected="selected">请选择</option>
											<#if companyproperty??>
											<#list companyproperty as el> 
												<option value="${(el.id)!}"
													<#if comObj?exists && comObj.companyProperty==el.id>selected="selected"</#if>
	
												>${(el.name)!}</option>
											</#list>
											</#if>
											<!-- 
											<option value="1">合资</option>
											<option value="2">独资</option>
											<option value="3">国有</option>
											<option value="4">私营</option>
											 -->
										</select>
									</td>
								</tr>
								<tr>
									<td class="tdTitle">网址</td>
									<td  id="companySite">
										<input type="text" name="companySite" value="${(comObj.compaySite)!''}"  class="form-control">
									</td>
									<td class="tdTitle">税务登记证</td>
									<td  id="taxNo">
										<input type="text" name="taxNo" class="form-control">
									</td>
								</tr>
								<tr>
									<td class="tdTitle">开户银行</td>
									<td  id="bank">
										<input type="text" name="bank" class="form-control">
									</td>
									<td class="tdTitle">银行帐号</td>
									<td  id="bankAccount">
										<input type="text" name="bankAccount" class="form-control">
									</td>
								</tr>
								<tr>
									<td class="tdTitle">企业信誉</td>
									<td  id="categoryCredit">
										<select name="categoryCredit" class="form-control">
											<option value="" selected="selected">请选择</option>
											<#if categoryCredit??>
											<#list categoryCredit as el> 
												<option value="${(el.id)!}">${(el.name)!}</option>
											</#list>
											</#if>
											<!--
											<option value="0">好</option>
											<option value="1">中</option>
											<option value="2">差</option>
											 -->
										</select>
									</td>
									<td class="tdTitle">关联企业</td>
									<td  id="companyAss">
										<input type="text" name="companyAss" class="form-control">
									</td>
								</tr>
								<tr>
									<td class="tdTitle">营业执照号</td>
									<td  id="businessLicense">
										<input type="text" name="businessLicense" class="form-control">
									</td>
									<td class="tdTitle">营业执照到期时间</td>
									<td  id="expiryTime">
										<input type="text" name="expiryTime"  onClick="WdatePicker()" class="form-control" >
									</td>
								</tr>
								<tr>
									<td class="tdTitle">备注</td>
									<td class="" colspan="3" id="commands">
										<textarea name="commands" rows="3" cols=""  class="form-control"></textarea>
									</td>
								</tr>
							</tbody>
						</table>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	
	<div class="modal-footer" style="text-align: center;">
		<button type="button" onclick="save(0)" class="btn green  fa fa-check">转换</button>
		
	 	<button type="button" class="btn green  fa fa-check" data-dismiss="modal"  onclick="javascript :history.back(-1);">返回</button> 
		<label>&nbsp;&nbsp;<input type="checkbox"  checked="checked" disabled="disabled" onclick="addOrUpdate(this)">&nbsp;同时更新（注册）商城用户</label>
	</div>


	<div  id="condiv" style="display: none;">
	<form>
						<table class="tb" cellspacing="1" border="1">
							<tbody>
								<tr>
									<td class="tdTitle" ><font color="red">*</font>姓名</td>
									<td >
										<input type="text" id="name" name="name" class="form-control">
									</td>
									<td class="tdTitle">性别</td>
									<td id="sexChooseTd">
										<label style="margin-left: 20px;">
											<input type="radio" value="0" name="sex" checked>男
										</label>
										<label style="margin-left: 20px;">
										<input type="radio" value="1" name="sex">女
										</label>
									</td>
								</tr>
								<tr>
									<td class="tdTitle"><font color="red">*</font>职位</td>
									<td >
										<input type="text"  id="position" name="position"   class="form-control"  maxlength="20" >
									</td>
									<td class="tdTitle"><font color="red">*</font>手机</td>
									<td >
										<input type="text" id="mobilePhone" name="mobilePhone"  class="form-control"  onkeyup="this.value=this.value.replace(/\D/g,'')"  onafterpaste="this.value=this.value.replace(/\D/g,'')" >
									</td>
								</tr>
								<tr>
									<td class="tdTitle">QQ</td>
									<td >
										<input type="text" name="qq" class="form-control"    onkeyup="this.value=this.value.replace(/\D/g,'')"  onafterpaste="this.value=this.value.replace(/\D/g,'')" >
									</td>
									<td class="tdTitle">固话</td>
									<td >
										<input type="text" name="telephone" class="form-control">
									</td>
								</tr>
								<tr>
									<td class="tdTitle">邮箱</td>
									<td >
										<input type="text" id="email1" name="email"   onblur="checkEmail()" class="form-control">
									</td>
									<td class="tdTitle">是否采购关键人</td>
									<td id="keyPersonChooseId">
										<label style="margin-left: 20px;">
										<input type="radio" value="1" name="keyPerson" checked>是
										</label>
										<label style="margin-left: 20px;">
										<input type="radio" value="0" name="keyPerson">否
										</label>
									</td>
								</tr>								
							</tbody>
						</table>
						
						</form>
	</div>

	<!-- END PAGE CONTAINER -->


	<!-- 底部开始 -->
	<#include "/include/foot.html" />
	<!-- 底部结束 -->

	<!--[if lt IE 9]>
<script src="${request.getContextPath()}/Public/assets/global/plugins/respond.min.js"></script>
<script src="${request.getContextPath()}/Public/assets/global/plugins/excanvas.min.js"></script>
<![endif]-->
	<script
		src="${request.getContextPath()}/Public/assets/global/plugins/jquery.min.js"
		type="text/javascript"></script>
	<script
		src="${request.getContextPath()}/Public/assets/global/plugins/jquery-migrate.min.js"
		type="text/javascript"></script>
	<script
		src="${request.getContextPath()}/Public/assets/global/plugins/jquery-ui/jquery-ui.min.js"
		type="text/javascript"></script>
	<script
		src="${request.getContextPath()}/Public/assets/global/plugins/bootstrap/js/bootstrap.min.js"
		type="text/javascript"></script>
	<script
		src="${request.getContextPath()}/Public/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js"
		type="text/javascript"></script>
	<script
		src="${request.getContextPath()}/Public/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js"
		type="text/javascript"></script>
	<script
		src="${request.getContextPath()}/Public/assets/global/plugins/jquery.blockui.min.js"
		type="text/javascript"></script>
	<script
		src="${request.getContextPath()}/Public/assets/global/plugins/jquery.cokie.min.js"
		type="text/javascript"></script>
	<script
		src="${request.getContextPath()}/Public/assets/global/plugins/uniform/jquery.uniform.min.js"
		type="text/javascript"></script>

	<script
		src="${request.getContextPath()}/Public/assets/global/plugins/jquery.sparkline.min.js"
		type="text/javascript"></script>

	<script
		src="${request.getContextPath()}/Public/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"
		type="text/javascript"></script>

	<script
		src="${request.getContextPath()}/Public/assets/global/scripts/metronic.js"
		type="text/javascript"></script>
	<script
		src="${request.getContextPath()}/Public/assets/admin/scripts/layout.js"
		type="text/javascript"></script>
	<script
		src="${request.getContextPath()}/Public/assets/admin/scripts/indexComponent.js"
		type="text/javascript"></script>
	<script
		src="${request.getContextPath()}/Public/assets/admin/scripts/commonUtils.js"
		type="text/javascript"></script>
	<script
		src="${request.getContextPath()}/Public/assets/admin/scripts/tc.min.js"
		type="text/javascript"></script>
	<script
		src="${request.getContextPath()}/Public/assets/admin/scripts/ajaxfileupload.js"
		type="text/javascript"></script>
<script src="${request.getContextPath()}/Public/assets/global/plugins/kkpager.min.js" type="text/javascript"></script>
<script type="text/javascript" src="${request.getContextPath()}/Public/My97DatePicker/WdatePicker.js"></script>
<script src="${request.getContextPath()}/Public/assets/global/plugins/jquery-validation/js/jquery.validate.js" type="text/javascript"></script>
<script src="${request.getContextPath()}/Public/assets/global/plugins/jquery-validation/js/localization/messages_zh.min.js" type="text/javascript"></script>

<!-- select2  begin -->
<script type="text/javascript" src="${request.getContextPath()}/Public/assets/global/plugins/select2/select2.js"></script>
<script type="text/javascript" src="${request.getContextPath()}/Public/assets/global/plugins/select2/select2_locale_zh-CN.js"></script>
<link href="${request.getContextPath()}/Public/assets/global/plugins/select2/select2.css" rel="stylesheet" type="text/css">
<script src="${request.getContextPath()}/Public/js/customerDetail/businessSel.js" type="text/javascript"></script>
<script src="${request.getContextPath()}/Public/js/customerDetail/brandSel.js" type="text/javascript"></script>
<!-- select2 end -->
	<script type="text/javascript">
		$(document).ready(function() {
		   Metronic.init(); // init metronic core componets
		   Layout.init(); // init layout
		});
	</script>
	<script>
		BASE_URL = '${request.getContextPath()}';
		
		
		//select2使用需要预先定义的businessArr数组
		var businessArr = ['salesInput',  'buyInput'];
		var userId = '${(userId)!}';
		var levelArray = $.parseJSON('${(levelString)!}'||'[]');
		var companyOfSearch = null;//通过搜索获取的公司信息
		var account=null;
		var emailBool=true;
		$(function(){
			$('.date').datepicker({
			    format:'yyyy-mm-dd',
		        weekStart: 1,
		        todayBtn:  1,
				autoclose: 1,
				todayHighlight: 1,
				startView: 2,
				forceParse: 0,
		        showMeridian: 1
		    });
			$("#companyName input").keydown(function(event){
				if(event.keyCode == 13){
					$(this).parent().children("button").click();
				}
			});
		});
		function checkEmail(){
			var email = $('#email').val();
			 if(email!=null&&email!=""){
			  	var re3 = /^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+(.[a-zA-Z0-9_-])+/;
			  	///^(\w-*\.*)+@(\w-?)+(\.\w{2,})+$/;
			  	  if(!re3.test(email)){
			  		  emailBool=false;
			  		  alert("输入邮箱格式不正确");
				      return;
				   }
			} 
		}


		//检查表单元素
		function checkForm(){

			var company_name = $.trim($('#companyName').find('input').val());

			if(company_name.length==0){
				alert('请输入公司名称');
				return false;
			}
			if($("#addresss").val()==null||$("#addresss").val()==''){
				alert("地址不能为空");
				return false;
			}
			var buyVolume = $('#buyVolume').find('input').val();
			
			if(buyVolume==null||buyVolume==''){
				alert("采购量不能为空");
				return false;
			}
			if(buyVolume&&!$.isNumeric(buyVolume)){
				alert("采购量必须为数字");
				return false;
			}
			if($("#salesInput").val()==null|| $("#salesInput").val()==''){
				
				alert("请选择行业");
				return false;
			}
			if(getEntType()==null|| getEntType()==''){
				
				alert("请选择企业类型");
				return false;
			}

			if($("#buyInput").val()==null|| $("#buyInput").val()==''){
						
						alert("请选择采购商品");
						return false;
					}
			var itemId = '${Session["userInfo"]["itemId"]}';
			if(itemId != 26278 && ($("#brandInput").val()==null|| $("#brandInput").val()=='')){	
				alert("请选择采购品牌");
				return false;
			}
			
			
		
			

			if(!($('#categorybusiness').find('input').eq(0).is(':checked')||$('#categorybusiness').find('input').eq(1).is(':checked'))){
				alert("请选择上下家");
				return false;
			}


			var name = $('#name').val();

			if(name.length==0){
				alert('请输入联系人姓名');
				return false;
			}
			var position = $('#position').val();

			if(position.length==0){
				alert('请输入联系人职位');
				return false;
			}


			var mobilePhone = $('#mobilePhone').val();
			if(mobilePhone.length==0){
				alert('请输入联系人手机');
				return false;
			}else{
				 if (isNaN(mobilePhone)) {
					 alert('手机号码是数字亲~');
					 return false;
				  }
				 //匹配13，14，15，17,18开头的手机号码！
				 var reg = /^0?1[3|4|5|7|8][0-9]\d{8}$/;
				 if(!reg.test(mobilePhone)){
					 alert('手机号码格式不正确!');
					 return false;
				 }

			}
		
			 var categoryBusiness=document.getElementsByName("email");
				
				for(var a=0 ; a<categoryBusiness.length;a++){
					var email=categoryBusiness[a].value;
				
					if(email!=null&&email!=''){
						 var re3 = /\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*/;
							
							  	   if(!re3.test(email)){
							  	        CommonUtils.succModal("警告","请输入正确邮箱");
								        return false;
								    }
							
						
							}
					
				}
			
			/**
			if(!emailBool){
				alert('邮箱格式不正确');
				return false;
			}*/


			/**
			var registerDate = $('#registerDate').val();
			if(registerDate.length==0){
				alert('请输入注册时间');
				return false;
			}
			**/

			return true;

		}

		
		


		//保存表单，提交转换请求
		function save(flag){

			var checkResult=checkForm();

			if(!checkResult) return false;

			//处理页面数据
			var paramObj = {};
			paramObj.account=account;//商城的账号
			paramObj.trailId=$("trailId").val();
			var mainInfo = getMainInfo();
			
			var contactersInfo = getContacters();
			var aditionalInfo = getAditionalInfo();
			
			var areaId= $("#cityId").val();
			if(areaId==null||areaId==0 ){
				areaId=$("#areaId").val();
			}
			mainInfo['areaId'] = (areaId||'');
			mainInfo['entTypes'] = (getEntType()||'');
			mainInfo['categoryBusiness'] = (getCategorybusiness()||'');
			mainInfo['contacters'] = contactersInfo;
			
			paramObj = $.extend(paramObj, mainInfo ,aditionalInfo);
			if(!$("#form_aditional").valid()){
				return;
			}
			//提交保存客户信息
			$.ajax({
				type : "POST",
				contentType: "application/json;charset=utf-8",
				url : "${request.getContextPath()}/TrailPoolPojo/convertrail.do",
				dataType : "json",
				data : JSON.stringify(paramObj),
				success : function(resp) {
					if($.type(resp)=='object'){

						if(resp.success==1){
						var url="${request.getContextPath()}/purchase/getAll.do?type=1";
						if(resp.categorybusiness==2){
							url="${request.getContextPath()}/supply/getAll.do?type=1";
						}
						
						
							CommonUtils.succModal2("系统提示", "转换成功！", url);

							return;
						}else if(resp.success==0){
							CommonUtils.succModal("系统提示",resp.msg);
							return;
						}
					}
				}
			});


			
			
		}



		//企业类型
		
		function getEntType(){
			var entType = {};
			 var entTypes=document.getElementsByName("entTypes");
				for(var a=0 ; a<entTypes.length;a++){
					var name=entTypes[a].checked;				
					if(name){
						var typeId = entTypes[a].value;
						if(typeId){
							if(entType[typeId]){
								delete entType[typeId];
							}else{
								entType[typeId] = 1;
							}
						}
					}
					
				}
			
		
			
			var keys = $.map(entType, function(value, key){
			    return key;     
			});		
			return keys.join(',');
		}
		//上下家
		var businessType = {};
		function setCategorybusiness(typeId){
			if(typeId){
				if(businessType[typeId]){
					delete businessType[typeId];
				}else{
					businessType[typeId] = 1;
				}
			}
		}
		function getCategorybusiness(){
			var keys = $.map(businessType, function(value, key){
			    return key;     
			});
			if(keys.length==1){
				return keys[0];
			}else if(keys.length>1){
				return 3;
			}
		}
		//区域
		var provinceEl;
		function setChildAreas(el,selectId){
			provinceEl = el;
			$(el).next().find('option').remove();
			$(el).next().append('<option value="">--请选择--</option>');
			

			var parentId = $(el).val();
			if(parentId){
				$.ajax({
					type : "POST",
					url : "${request.getContextPath()}/areas/getChildAreas.do?parentId="+parentId,
					dataType : "json",
					//el : el,
					//selectId : selectId,
					success : function(areas) {
						if(areas && areas instanceof Array && areas.length>0){
							var area;
							for(var i=0;i<areas.length;i++){
								area = areas[i];
								if(area && typeof area=='object'){
									if(selectId&&selectId==area.id){
										$(el).next().append('<option selected="selected" value="'+ area.id +'">'+ area.name +'</option>');
									}else{
										$(el).next().append('<option value="'+ area.id +'">'+ area.name +'</option>');
									}
								}
							}
						}
					}
				});
			}
		}
		function getArea(){
			var area = $(provinceEl).next().val();
			if(!area){
				area = $(provinceEl).val();
			}
			return area;
		}
		//添加联系人
		function newContacter(el){
			$(el).parent().before('<br>');
			var clone = $("#condiv form").eq(0).clone();
			console.log(clone);
			//clone[0].reset();
			$(el).parent().before(clone);
			$("input[name='sex']").click(function() {
				
				$(this).parents("td").find("span.checked").removeClass("checked");
				$(this).parent("span").addClass("checked");

			});
			$("input[name='keyPerson']").click(function() {
				$(this).parents("td").find("span.checked").removeClass("checked");
				$(this).parent("span").addClass("checked");

			});
		}
		//获取所有主要信息
		function getMainInfo(){
			var array = $('#form_main').serializeArray();
			return serializeArrayToJSON(array);
		}
		//获取所有联系人(json字符串)
		var contacters = [];
		function getContacters(){
			contacters = [];
			$("#block_contacter form").each(function(i,form){
				var array = $(form).serializeArray();
				var contacter = serializeArrayToJSON(array);
				if(contacter.name){
					contacters.push(contacter);
				}
			});
			return contacters;
		}
		//获取附加信息
		function getAditionalInfo(){
			var array = $('#form_aditional').serializeArray();
			return serializeArrayToJSON(array);
		}
		function serializeArrayToJSON(serializeArray){
			var json = {};
			serializeArray = $.map(serializeArray, function(obj, i){
				var temp = {};
				temp[obj.name]=obj.value
			    return temp;
			});
			for(var i=0;i<serializeArray.length;i++){
				json = $.extend(json, serializeArray[i]);
			}
			return json
		}
		var companyModel;
		function search(el){
			var searchStr = $(el).prev().val();
			if($.trim(searchStr).length==0){
				CommonUtils.succModal('提示','请输入公司名称');
				return;
			}
			companyModel =  CommonUtils.editModal('${request.getContextPath()}/customer/gotoGetCompanyFromMallPage.do?searchString='+encodeURI(searchStr),800);

		}
		//选择品牌
		var brandEl;
		function brandList(el){
			brandEl = el;
			CommonUtils.editModal('${request.getContextPath()}/customer/brandlist.do?values='+encodeURI(encodeURI(el.value)),600);
		}
		var company = {};
		function optionConfirm(){
			
			company.id = chooseCompanyId;
			if(!company.id){
				alert("请选择公司");
				return;
			}
			
			$.ajax({
				type : "POST",
				url : "${request.getContextPath()}/customer/companyDetail.do?companyId="+company.id,
				dataType : "json",
				success : function(companyInfo) {
					companyInfo = $.parseJSON(companyInfo);
					if(companyInfo && $.isPlainObject(companyInfo)){
						
						companyOfSearch = {};
						account=chooseUserName;//商城会员账号
						$('#companyName').find('input').val(companyInfo.company||'');
						
						
						
						
						if(companyInfo.sell){
					         $("#salesInput").select2("val", companyInfo.sell.split(","));
						}
						
						//$('#salesProducts').find('input').val(companyInfo.sell||'');
						if(companyInfo.level){
							$('#level').find('select').val(companyInfo.level);
						}
						var areaInfo = companyInfo.area;
						if(areaInfo && $.isPlainObject(areaInfo)){
							if(areaInfo.parentID==0){
								$('#area').find('select').eq(0).val(areaInfo.id);
							}else{
								$('#area').find('select').eq(0).val(areaInfo.parentID);
							}

							setChildAreas($('#area').find('select').eq(0),areaInfo.id);

						}

						if(companyInfo.mode){
						}
						$('#address').find('input').val(companyInfo.address||'');
						var size = companyInfo.size||'';
						$('#categoryEmployee').find('select option').each(function(){
							if($(this).val()==size){
								$(this).attr('selected','selected');
							}
						});
						
						
						if(companyInfo.buy){							
							$("#buyInput").select2("val", companyInfo.buy.split(","));
						}
						
						//附加信息
						if($.isNumeric(companyInfo.regyear)){
							$('#registerDate').find('input').val(companyInfo.regyear);
						}
						if(companyInfo.telephone){
							$('#companyPhone').find('input').val(companyInfo.telephone);
						}
						if(companyInfo.homepage){
							$('#companySite').find('input').val(companyInfo.homepage);
						}
						if(companyInfo.bank){
							$('#bank').find('input').val(companyInfo.bank);
						}
						if(companyInfo.account){
							$('#bankAccount').find('input').val(companyInfo.account);
						}
						
						//联系人信息
						var form = $('#block_contacter form:first');
						if(companyInfo.truename){
							form.find("input[name='name']").val(companyInfo.truename);
						}
						if(companyInfo.gender===true){
							$("#sexChooseTd span:first").addClass("checked");
						}else if(companyInfo.gender===false){
							$("#sexChooseTd span:last").addClass("checked");
						}
						if(companyInfo.career){
							form.find("input[name='position']").val(companyInfo.career);
						}
						if(companyInfo.mobile){
							form.find("input[name='mobilePhone']").val(companyInfo.mobile);
						}
						if(companyInfo.qq){
							form.find("input[name='qq']").val(companyInfo.qq);				
						}
						if(companyInfo.email){
							form.find("input[name='email']").val(companyInfo.email);
						}
						if(companyInfo.admin===true){
							$("#keyPersonChooseId span:first").addClass("checked");
						}else if(companyInfo.admin===false){
							$("#keyPersonChooseId span:last").addClass("checked");
						}
						
						$("#chooseCompanyClose").click();
					}
				}
			});
			
		}
	</script>
</body>
</html>