<iframe frameborder="0" scrolling="no" src="${request.getContextPath()}/user/editUserView.do" width="100%" height="410px" id="editUserFrame"></iframe>
<!-- 内容结束 -->
<!-- 底部按钮开始 -->
<div class="modal-footer" style="text-align: center;">
	<button type="button" class="btn default fa fa-times" id="eidtUserClose" data-dismiss="modal">关闭</button>
	<button type="button" onclick="confirm()" class="btn green  fa fa-check">确认更改</button>
</div>
<script>
function confirm(){
	$("#editUserFrame").contents().find("#callBackCloseElementName").val($("#eidtUserClose").attr("id"));
	$("#editUserFrame")[0].contentWindow.formSt();
}
function close(){
	$("#eidtUserClose").click();
}
</script>