<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.smm.cuohe.dao.base.ChAreasEntityMapper" >
  <resultMap id="BaseResultMap" type="com.smm.cuohe.domain.base.ChAreasEntity" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="parentID" property="parentid" jdbcType="VARCHAR" />
    <result column="childID" property="childid" jdbcType="VARCHAR" />
    <result column="listOrder" property="listorder" jdbcType="INTEGER" />
    <result column="parentName" property="parentname" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, parentID, childID, listOrder, parentName
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ch_areas
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ch_areas
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.smm.cuohe.domain.base.ChAreasEntity" >
    insert into ch_areas (id, name, parentID, 
      childID, listOrder, parentName
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{parentid,jdbcType=VARCHAR}, 
      #{childid,jdbcType=VARCHAR}, #{listorder,jdbcType=INTEGER}, #{parentname,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.smm.cuohe.domain.base.ChAreasEntity" >
    insert into ch_areas
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="parentid != null" >
        parentID,
      </if>
      <if test="childid != null" >
        childID,
      </if>
      <if test="listorder != null" >
        listOrder,
      </if>
      <if test="parentname != null" >
        parentName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null" >
        #{parentid,jdbcType=VARCHAR},
      </if>
      <if test="childid != null" >
        #{childid,jdbcType=VARCHAR},
      </if>
      <if test="listorder != null" >
        #{listorder,jdbcType=INTEGER},
      </if>
      <if test="parentname != null" >
        #{parentname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.smm.cuohe.domain.base.ChAreasEntity" >
    update ch_areas
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null" >
        parentID = #{parentid,jdbcType=VARCHAR},
      </if>
      <if test="childid != null" >
        childID = #{childid,jdbcType=VARCHAR},
      </if>
      <if test="listorder != null" >
        listOrder = #{listorder,jdbcType=INTEGER},
      </if>
      <if test="parentname != null" >
        parentName = #{parentname,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.smm.cuohe.domain.base.ChAreasEntity" >
    update ch_areas
    set name = #{name,jdbcType=VARCHAR},
      parentID = #{parentid,jdbcType=VARCHAR},
      childID = #{childid,jdbcType=VARCHAR},
      listOrder = #{listorder,jdbcType=INTEGER},
      parentName = #{parentname,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>