<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.smm.cuohe.dao.base.ChItemPriceDelEntityMapper" >
  <resultMap id="BaseResultMap" type="com.smm.cuohe.domain.base.ChItemPriceDelEntity" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="ItemId" property="itemid" jdbcType="INTEGER" />
    <result column="referencePrice" property="referenceprice" jdbcType="DECIMAL" />
    <result column="maxPrice" property="maxprice" jdbcType="DECIMAL" />
    <result column="minPrice" property="minprice" jdbcType="DECIMAL" />
    <result column="updatedAt" property="updatedat" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="updatedBy" property="updatedby" jdbcType="INTEGER" />
    <result column="createdAt" property="createdat" jdbcType="TIMESTAMP" />
    <result column="createdBy" property="createdby" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, ItemId, referencePrice, maxPrice, minPrice, updatedAt, status, updatedBy, createdAt, 
    createdBy
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ch_item_price_del
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ch_item_price_del
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.smm.cuohe.domain.base.ChItemPriceDelEntity" >
    insert into ch_item_price_del (id, ItemId, referencePrice, 
      maxPrice, minPrice, updatedAt, 
      status, updatedBy, createdAt, 
      createdBy)
    values (#{id,jdbcType=INTEGER}, #{itemid,jdbcType=INTEGER}, #{referenceprice,jdbcType=DECIMAL}, 
      #{maxprice,jdbcType=DECIMAL}, #{minprice,jdbcType=DECIMAL}, #{updatedat,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=INTEGER}, #{updatedby,jdbcType=INTEGER}, #{createdat,jdbcType=TIMESTAMP}, 
      #{createdby,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.smm.cuohe.domain.base.ChItemPriceDelEntity" >
    insert into ch_item_price_del
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="itemid != null" >
        ItemId,
      </if>
      <if test="referenceprice != null" >
        referencePrice,
      </if>
      <if test="maxprice != null" >
        maxPrice,
      </if>
      <if test="minprice != null" >
        minPrice,
      </if>
      <if test="updatedat != null" >
        updatedAt,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="updatedby != null" >
        updatedBy,
      </if>
      <if test="createdat != null" >
        createdAt,
      </if>
      <if test="createdby != null" >
        createdBy,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="itemid != null" >
        #{itemid,jdbcType=INTEGER},
      </if>
      <if test="referenceprice != null" >
        #{referenceprice,jdbcType=DECIMAL},
      </if>
      <if test="maxprice != null" >
        #{maxprice,jdbcType=DECIMAL},
      </if>
      <if test="minprice != null" >
        #{minprice,jdbcType=DECIMAL},
      </if>
      <if test="updatedat != null" >
        #{updatedat,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="updatedby != null" >
        #{updatedby,jdbcType=INTEGER},
      </if>
      <if test="createdat != null" >
        #{createdat,jdbcType=TIMESTAMP},
      </if>
      <if test="createdby != null" >
        #{createdby,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.smm.cuohe.domain.base.ChItemPriceDelEntity" >
    update ch_item_price_del
    <set >
      <if test="itemid != null" >
        ItemId = #{itemid,jdbcType=INTEGER},
      </if>
      <if test="referenceprice != null" >
        referencePrice = #{referenceprice,jdbcType=DECIMAL},
      </if>
      <if test="maxprice != null" >
        maxPrice = #{maxprice,jdbcType=DECIMAL},
      </if>
      <if test="minprice != null" >
        minPrice = #{minprice,jdbcType=DECIMAL},
      </if>
      <if test="updatedat != null" >
        updatedAt = #{updatedat,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="updatedby != null" >
        updatedBy = #{updatedby,jdbcType=INTEGER},
      </if>
      <if test="createdat != null" >
        createdAt = #{createdat,jdbcType=TIMESTAMP},
      </if>
      <if test="createdby != null" >
        createdBy = #{createdby,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.smm.cuohe.domain.base.ChItemPriceDelEntity" >
    update ch_item_price_del
    set ItemId = #{itemid,jdbcType=INTEGER},
      referencePrice = #{referenceprice,jdbcType=DECIMAL},
      maxPrice = #{maxprice,jdbcType=DECIMAL},
      minPrice = #{minprice,jdbcType=DECIMAL},
      updatedAt = #{updatedat,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER},
      updatedBy = #{updatedby,jdbcType=INTEGER},
      createdAt = #{createdat,jdbcType=TIMESTAMP},
      createdBy = #{createdby,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>