<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.smm.cuohe.dao.base.ChNotesEntityMapper" >
  <resultMap id="BaseResultMap" type="com.smm.cuohe.domain.base.ChNotesEntity" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="itemsId" property="itemsid" jdbcType="INTEGER" />
    <result column="noteDate" property="notedate" jdbcType="DATE" />
    <result column="noteType" property="notetype" jdbcType="INTEGER" />
    <result column="context" property="context" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="createdAt" property="createdat" jdbcType="DATE" />
    <result column="createdBy" property="createdby" jdbcType="INTEGER" />
    <result column="updatedAt" property="updatedat" jdbcType="DATE" />
    <result column="updatedBy" property="updatedby" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, itemsId, noteDate, noteType, context, status, createdAt, createdBy, updatedAt, 
    updatedBy
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ch_notes
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ch_notes
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.smm.cuohe.domain.base.ChNotesEntity" >
    insert into ch_notes (id, itemsId, noteDate, 
      noteType, context, status, 
      createdAt, createdBy, updatedAt, 
      updatedBy)
    values (#{id,jdbcType=INTEGER}, #{itemsid,jdbcType=INTEGER}, #{notedate,jdbcType=DATE}, 
      #{notetype,jdbcType=INTEGER}, #{context,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{createdat,jdbcType=DATE}, #{createdby,jdbcType=INTEGER}, #{updatedat,jdbcType=DATE}, 
      #{updatedby,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.smm.cuohe.domain.base.ChNotesEntity" >
    insert into ch_notes
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="itemsid != null" >
        itemsId,
      </if>
      <if test="notedate != null" >
        noteDate,
      </if>
      <if test="notetype != null" >
        noteType,
      </if>
      <if test="context != null" >
        context,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createdat != null" >
        createdAt,
      </if>
      <if test="createdby != null" >
        createdBy,
      </if>
      <if test="updatedat != null" >
        updatedAt,
      </if>
      <if test="updatedby != null" >
        updatedBy,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="itemsid != null" >
        #{itemsid,jdbcType=INTEGER},
      </if>
      <if test="notedate != null" >
        #{notedate,jdbcType=DATE},
      </if>
      <if test="notetype != null" >
        #{notetype,jdbcType=INTEGER},
      </if>
      <if test="context != null" >
        #{context,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createdat != null" >
        #{createdat,jdbcType=DATE},
      </if>
      <if test="createdby != null" >
        #{createdby,jdbcType=INTEGER},
      </if>
      <if test="updatedat != null" >
        #{updatedat,jdbcType=DATE},
      </if>
      <if test="updatedby != null" >
        #{updatedby,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.smm.cuohe.domain.base.ChNotesEntity" >
    update ch_notes
    <set >
      <if test="itemsid != null" >
        itemsId = #{itemsid,jdbcType=INTEGER},
      </if>
      <if test="notedate != null" >
        noteDate = #{notedate,jdbcType=DATE},
      </if>
      <if test="notetype != null" >
        noteType = #{notetype,jdbcType=INTEGER},
      </if>
      <if test="context != null" >
        context = #{context,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createdat != null" >
        createdAt = #{createdat,jdbcType=DATE},
      </if>
      <if test="createdby != null" >
        createdBy = #{createdby,jdbcType=INTEGER},
      </if>
      <if test="updatedat != null" >
        updatedAt = #{updatedat,jdbcType=DATE},
      </if>
      <if test="updatedby != null" >
        updatedBy = #{updatedby,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.smm.cuohe.domain.base.ChNotesEntity" >
    update ch_notes
    set itemsId = #{itemsid,jdbcType=INTEGER},
      noteDate = #{notedate,jdbcType=DATE},
      noteType = #{notetype,jdbcType=INTEGER},
      context = #{context,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      createdAt = #{createdat,jdbcType=DATE},
      createdBy = #{createdby,jdbcType=INTEGER},
      updatedAt = #{updatedat,jdbcType=DATE},
      updatedBy = #{updatedby,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>