<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.smm.cuohe.dao.base.ChCommodityAttrEntityMapper" >
  <resultMap id="BaseResultMap" type="com.smm.cuohe.domain.base.ChCommodityAttrEntity" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="commodity_id" property="commodityId" jdbcType="INTEGER" />
    <result column="attr_id" property="attrId" jdbcType="INTEGER" />
    <result column="attr_name" property="attrName" jdbcType="VARCHAR" />
    <result column="attr_value" property="attrValue" jdbcType="VARCHAR" />
    <result column="commodity_name" property="commodityName" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
    <result column="edit_time" property="editTime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, commodity_id, attr_id, attr_name, attr_value, commodity_name, create_time, edit_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ch_commodity_attr
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ch_commodity_attr
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.smm.cuohe.domain.base.ChCommodityAttrEntity" >
    insert into ch_commodity_attr (id, commodity_id, attr_id, 
      attr_name, attr_value, commodity_name, 
      create_time, edit_time)
    values (#{id,jdbcType=INTEGER}, #{commodityId,jdbcType=INTEGER}, #{attrId,jdbcType=INTEGER}, 
      #{attrName,jdbcType=VARCHAR}, #{attrValue,jdbcType=VARCHAR}, #{commodityName,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=VARCHAR}, #{editTime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.smm.cuohe.domain.base.ChCommodityAttrEntity" >
    insert into ch_commodity_attr
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="commodityId != null" >
        commodity_id,
      </if>
      <if test="attrId != null" >
        attr_id,
      </if>
      <if test="attrName != null" >
        attr_name,
      </if>
      <if test="attrValue != null" >
        attr_value,
      </if>
      <if test="commodityName != null" >
        commodity_name,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="editTime != null" >
        edit_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="commodityId != null" >
        #{commodityId,jdbcType=INTEGER},
      </if>
      <if test="attrId != null" >
        #{attrId,jdbcType=INTEGER},
      </if>
      <if test="attrName != null" >
        #{attrName,jdbcType=VARCHAR},
      </if>
      <if test="attrValue != null" >
        #{attrValue,jdbcType=VARCHAR},
      </if>
      <if test="commodityName != null" >
        #{commodityName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="editTime != null" >
        #{editTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.smm.cuohe.domain.base.ChCommodityAttrEntity" >
    update ch_commodity_attr
    <set >
      <if test="commodityId != null" >
        commodity_id = #{commodityId,jdbcType=INTEGER},
      </if>
      <if test="attrId != null" >
        attr_id = #{attrId,jdbcType=INTEGER},
      </if>
      <if test="attrName != null" >
        attr_name = #{attrName,jdbcType=VARCHAR},
      </if>
      <if test="attrValue != null" >
        attr_value = #{attrValue,jdbcType=VARCHAR},
      </if>
      <if test="commodityName != null" >
        commodity_name = #{commodityName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="editTime != null" >
        edit_time = #{editTime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.smm.cuohe.domain.base.ChCommodityAttrEntity" >
    update ch_commodity_attr
    set commodity_id = #{commodityId,jdbcType=INTEGER},
      attr_id = #{attrId,jdbcType=INTEGER},
      attr_name = #{attrName,jdbcType=VARCHAR},
      attr_value = #{attrValue,jdbcType=VARCHAR},
      commodity_name = #{commodityName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=VARCHAR},
      edit_time = #{editTime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <!-- 某一报盘的商品属性 -->
  <select id="queryCommodityAttrList"  parameterType="java.util.Map" resultMap="BaseResultMap">
  
  	SELECT * FROM `ch_commodity_attr` WHERE commodity_id = #{commodity_id};
  
  </select>
</mapper>