<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.smm.cuohe.dao.base.ChContractEntityMapper" >
  <resultMap id="BaseResultMap" type="com.smm.cuohe.domain.base.ChContractEntity" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="orderId" property="orderid" jdbcType="INTEGER" />
    <result column="filePath" property="filepath" jdbcType="VARCHAR" />
    <result column="mallUrl" property="mallurl" jdbcType="VARCHAR" />
    <result column="createdAt" property="createdat" jdbcType="TIMESTAMP" />
    <result column="confirmedAt" property="confirmedat" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.smm.cuohe.domain.base.ChContractEntity" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, orderId, filePath, mallUrl, createdAt, confirmedAt
  </sql>
  <sql id="Blob_Column_List" >
    content
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from ch_contract
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ch_contract
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.smm.cuohe.domain.base.ChContractEntity" >
    insert into ch_contract (id, orderId, filePath, 
      mallUrl, createdAt, confirmedAt, 
      content)
    values (#{id,jdbcType=INTEGER}, #{orderid,jdbcType=INTEGER}, #{filepath,jdbcType=VARCHAR}, 
      #{mallurl,jdbcType=VARCHAR}, #{createdat,jdbcType=TIMESTAMP}, #{confirmedat,jdbcType=TIMESTAMP}, 
      #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.smm.cuohe.domain.base.ChContractEntity" >
    insert into ch_contract
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderid != null" >
        orderId,
      </if>
      <if test="filepath != null" >
        filePath,
      </if>
      <if test="mallurl != null" >
        mallUrl,
      </if>
      <if test="createdat != null" >
        createdAt,
      </if>
      <if test="confirmedat != null" >
        confirmedAt,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orderid != null" >
        #{orderid,jdbcType=INTEGER},
      </if>
      <if test="filepath != null" >
        #{filepath,jdbcType=VARCHAR},
      </if>
      <if test="mallurl != null" >
        #{mallurl,jdbcType=VARCHAR},
      </if>
      <if test="createdat != null" >
        #{createdat,jdbcType=TIMESTAMP},
      </if>
      <if test="confirmedat != null" >
        #{confirmedat,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.smm.cuohe.domain.base.ChContractEntity" >
    update ch_contract
    <set >
      <if test="orderid != null" >
        orderId = #{orderid,jdbcType=INTEGER},
      </if>
      <if test="filepath != null" >
        filePath = #{filepath,jdbcType=VARCHAR},
      </if>
      <if test="mallurl != null" >
        mallUrl = #{mallurl,jdbcType=VARCHAR},
      </if>
      <if test="createdat != null" >
        createdAt = #{createdat,jdbcType=TIMESTAMP},
      </if>
      <if test="confirmedat != null" >
        confirmedAt = #{confirmedat,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.smm.cuohe.domain.base.ChContractEntity" >
    update ch_contract
    set orderId = #{orderid,jdbcType=INTEGER},
      filePath = #{filepath,jdbcType=VARCHAR},
      mallUrl = #{mallurl,jdbcType=VARCHAR},
      createdAt = #{createdat,jdbcType=TIMESTAMP},
      confirmedAt = #{confirmedat,jdbcType=TIMESTAMP},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.smm.cuohe.domain.base.ChContractEntity" >
    update ch_contract
    set orderId = #{orderid,jdbcType=INTEGER},
      filePath = #{filepath,jdbcType=VARCHAR},
      mallUrl = #{mallurl,jdbcType=VARCHAR},
      createdAt = #{createdat,jdbcType=TIMESTAMP},
      confirmedAt = #{confirmedat,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>