<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.smm.cuohe.dao.base.ChItemWebPartsEntityMapper" >
  <resultMap id="BaseResultMap" type="com.smm.cuohe.domain.base.ChItemWebPartsEntity" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="webPartsId" property="webpartsid" jdbcType="INTEGER" />
    <result column="itemID" property="itemid" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="listOrder" property="listorder" jdbcType="INTEGER" />
    <result column="createdAt" property="createdat" jdbcType="DATE" />
    <result column="createdBy" property="createdby" jdbcType="INTEGER" />
    <result column="updatedAt" property="updatedat" jdbcType="DATE" />
    <result column="updatedBy" property="updatedby" jdbcType="INTEGER" />
    <result column="userId" property="userid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, webPartsId, itemID, status, listOrder, createdAt, createdBy, updatedAt, updatedBy, 
    userId
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ch_item_web_parts
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ch_item_web_parts
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.smm.cuohe.domain.base.ChItemWebPartsEntity" >
    insert into ch_item_web_parts (id, webPartsId, itemID, 
      status, listOrder, createdAt, 
      createdBy, updatedAt, updatedBy, 
      userId)
    values (#{id,jdbcType=INTEGER}, #{webpartsid,jdbcType=INTEGER}, #{itemid,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{listorder,jdbcType=INTEGER}, #{createdat,jdbcType=DATE}, 
      #{createdby,jdbcType=INTEGER}, #{updatedat,jdbcType=DATE}, #{updatedby,jdbcType=INTEGER}, 
      #{userid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.smm.cuohe.domain.base.ChItemWebPartsEntity" >
    insert into ch_item_web_parts
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="webpartsid != null" >
        webPartsId,
      </if>
      <if test="itemid != null" >
        itemID,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="listorder != null" >
        listOrder,
      </if>
      <if test="createdat != null" >
        createdAt,
      </if>
      <if test="createdby != null" >
        createdBy,
      </if>
      <if test="updatedat != null" >
        updatedAt,
      </if>
      <if test="updatedby != null" >
        updatedBy,
      </if>
      <if test="userid != null" >
        userId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="webpartsid != null" >
        #{webpartsid,jdbcType=INTEGER},
      </if>
      <if test="itemid != null" >
        #{itemid,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="listorder != null" >
        #{listorder,jdbcType=INTEGER},
      </if>
      <if test="createdat != null" >
        #{createdat,jdbcType=DATE},
      </if>
      <if test="createdby != null" >
        #{createdby,jdbcType=INTEGER},
      </if>
      <if test="updatedat != null" >
        #{updatedat,jdbcType=DATE},
      </if>
      <if test="updatedby != null" >
        #{updatedby,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.smm.cuohe.domain.base.ChItemWebPartsEntity" >
    update ch_item_web_parts
    <set >
      <if test="webpartsid != null" >
        webPartsId = #{webpartsid,jdbcType=INTEGER},
      </if>
      <if test="itemid != null" >
        itemID = #{itemid,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="listorder != null" >
        listOrder = #{listorder,jdbcType=INTEGER},
      </if>
      <if test="createdat != null" >
        createdAt = #{createdat,jdbcType=DATE},
      </if>
      <if test="createdby != null" >
        createdBy = #{createdby,jdbcType=INTEGER},
      </if>
      <if test="updatedat != null" >
        updatedAt = #{updatedat,jdbcType=DATE},
      </if>
      <if test="updatedby != null" >
        updatedBy = #{updatedby,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        userId = #{userid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.smm.cuohe.domain.base.ChItemWebPartsEntity" >
    update ch_item_web_parts
    set webPartsId = #{webpartsid,jdbcType=INTEGER},
      itemID = #{itemid,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      listOrder = #{listorder,jdbcType=INTEGER},
      createdAt = #{createdat,jdbcType=DATE},
      createdBy = #{createdby,jdbcType=INTEGER},
      updatedAt = #{updatedat,jdbcType=DATE},
      updatedBy = #{updatedby,jdbcType=INTEGER},
      userId = #{userid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>