<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.smm.cuohe.dao.base.ChUsersEntityMapper" >
  <resultMap id="BaseResultMap" type="com.smm.cuohe.domain.base.ChUsersEntity" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="account" property="account" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="pwd" property="pwd" jdbcType="VARCHAR" />
    <result column="itemId" property="itemid" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="Online" property="online" jdbcType="INTEGER" />
    <result column="image" property="image" jdbcType="VARCHAR" />
    <result column="offTime" property="offtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, account, name, email, pwd, itemId, status, Online, image, offTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ch_users
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ch_users
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.smm.cuohe.domain.base.ChUsersEntity" >
    insert into ch_users (id, account, name, 
      email, pwd, itemId, 
      status, Online, image, 
      offTime)
    values (#{id,jdbcType=INTEGER}, #{account,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{pwd,jdbcType=VARCHAR}, #{itemid,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{online,jdbcType=INTEGER}, #{image,jdbcType=VARCHAR}, 
      #{offtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.smm.cuohe.domain.base.ChUsersEntity" >
    insert into ch_users
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="account != null" >
        account,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="pwd != null" >
        pwd,
      </if>
      <if test="itemid != null" >
        itemId,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="online != null" >
        Online,
      </if>
      <if test="image != null" >
        image,
      </if>
      <if test="offtime != null" >
        offTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="account != null" >
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null" >
        #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="itemid != null" >
        #{itemid,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="online != null" >
        #{online,jdbcType=INTEGER},
      </if>
      <if test="image != null" >
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="offtime != null" >
        #{offtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.smm.cuohe.domain.base.ChUsersEntity" >
    update ch_users
    <set >
      <if test="account != null" >
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null" >
        pwd = #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="itemid != null" >
        itemId = #{itemid,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="online != null" >
        Online = #{online,jdbcType=INTEGER},
      </if>
      <if test="image != null" >
        image = #{image,jdbcType=VARCHAR},
      </if>
      <if test="offtime != null" >
        offTime = #{offtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.smm.cuohe.domain.base.ChUsersEntity" >
    update ch_users
    set account = #{account,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      pwd = #{pwd,jdbcType=VARCHAR},
      itemId = #{itemid,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      Online = #{online,jdbcType=INTEGER},
      image = #{image,jdbcType=VARCHAR},
      offTime = #{offtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="queryUserList" parameterType="java.util.Map" resultMap="BaseResultMap">
  
  	select * from ch_users where name like  CONCAT('%',#{name},'%')
  
  </select>
  
  <select id="queryUserListPage" parameterType="com.smm.cuohe.domain.counts.ChatCount" resultType="com.smm.cuohe.domain.base.ChUsersEntity">
    SELECT u.*,i.`name` itemName FROM ch_users u LEFT JOIN ch_items i ON i.id = u.itemId WHERE u.status = 0 ORDER BY u.Online DESC
  </select>
  
  <select id="queryUserListOrderByOff" resultType="com.smm.cuohe.domain.base.ChUsersEntity">
    select * from ch_users where status = 0 ORDER BY offTime desc
  </select>
</mapper>