<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.smm.cuohe.dao.base.MlMallAttrExtendEntityMapper" >
  <resultMap id="BaseResultMap" type="com.smm.cuohe.domain.base.MlMallAttrExtendEntity" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="attrid" property="attrid" jdbcType="INTEGER" />
    <result column="attrname" property="attrname" jdbcType="VARCHAR" />
    <result column="totalmallid" property="totalmallid" jdbcType="BIGINT" />
    <result column="catid" property="catid" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="BIT" />
    <result column="createtime" property="createtime" jdbcType="INTEGER" />
    <result column="createdate" property="createdate" jdbcType="DATE" />
    <result column="edittime" property="edittime" jdbcType="INTEGER" />
    <result column="editdate" property="editdate" jdbcType="DATE" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, attrid, attrname, totalmallid, catid, name, status, createtime, createdate, edittime, 
    editdate
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from ml_mall_attr_extend
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from ml_mall_attr_extend
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.smm.cuohe.domain.base.MlMallAttrExtendEntity" >
    insert into ml_mall_attr_extend (id, attrid, attrname, 
      totalmallid, catid, name, 
      status, createtime, createdate, 
      edittime, editdate)
    values (#{id,jdbcType=INTEGER}, #{attrid,jdbcType=INTEGER}, #{attrname,jdbcType=VARCHAR}, 
      #{totalmallid,jdbcType=BIGINT}, #{catid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{status,jdbcType=BIT}, #{createtime,jdbcType=INTEGER}, #{createdate,jdbcType=DATE}, 
      #{edittime,jdbcType=INTEGER}, #{editdate,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.smm.cuohe.domain.base.MlMallAttrExtendEntity" >
    insert into ml_mall_attr_extend
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="attrid != null" >
        attrid,
      </if>
      <if test="attrname != null" >
        attrname,
      </if>
      <if test="totalmallid != null" >
        totalmallid,
      </if>
      <if test="catid != null" >
        catid,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="createdate != null" >
        createdate,
      </if>
      <if test="edittime != null" >
        edittime,
      </if>
      <if test="editdate != null" >
        editdate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="attrid != null" >
        #{attrid,jdbcType=INTEGER},
      </if>
      <if test="attrname != null" >
        #{attrname,jdbcType=VARCHAR},
      </if>
      <if test="totalmallid != null" >
        #{totalmallid,jdbcType=BIGINT},
      </if>
      <if test="catid != null" >
        #{catid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=BIT},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=INTEGER},
      </if>
      <if test="createdate != null" >
        #{createdate,jdbcType=DATE},
      </if>
      <if test="edittime != null" >
        #{edittime,jdbcType=INTEGER},
      </if>
      <if test="editdate != null" >
        #{editdate,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.smm.cuohe.domain.base.MlMallAttrExtendEntity" >
    update ml_mall_attr_extend
    <set >
      <if test="attrid != null" >
        attrid = #{attrid,jdbcType=INTEGER},
      </if>
      <if test="attrname != null" >
        attrname = #{attrname,jdbcType=VARCHAR},
      </if>
      <if test="totalmallid != null" >
        totalmallid = #{totalmallid,jdbcType=BIGINT},
      </if>
      <if test="catid != null" >
        catid = #{catid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=BIT},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=INTEGER},
      </if>
      <if test="createdate != null" >
        createdate = #{createdate,jdbcType=DATE},
      </if>
      <if test="edittime != null" >
        edittime = #{edittime,jdbcType=INTEGER},
      </if>
      <if test="editdate != null" >
        editdate = #{editdate,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.smm.cuohe.domain.base.MlMallAttrExtendEntity" >
    update ml_mall_attr_extend
    set attrid = #{attrid,jdbcType=INTEGER},
      attrname = #{attrname,jdbcType=VARCHAR},
      totalmallid = #{totalmallid,jdbcType=BIGINT},
      catid = #{catid,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      status = #{status,jdbcType=BIT},
      createtime = #{createtime,jdbcType=INTEGER},
      createdate = #{createdate,jdbcType=DATE},
      edittime = #{edittime,jdbcType=INTEGER},
      editdate = #{editdate,jdbcType=DATE}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>