<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smm.cuohe.dao.ICategoryDAO">
	<cache eviction="LRU" type="com.smm.cuohe.tools.MybatisRedisCache" />
    <!--查询一个公司-->
    <select id="getAll" resultType="com.smm.cuohe.domain.Category">
        select * from ch_category
    </select>

	<select id="getByModId" parameterType="int" resultType="com.smm.cuohe.domain.Category">
		select * 
		from ch_category
		where modID=#{id}
	</select>


    <select id="getOneById" resultType="com.smm.cuohe.domain.Category">
        select *  from ch_category  where id=#{id}
    </select>
</mapper>